<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GShortify</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" />
  <link rel="stylesheet" href="/static/style.css" />
  <script defer type="text/javascript" src="/static/scripts/scripts.js"></script>
</head>

<body>
  <div class="main-container">

    <!-- <header>
                    <div class="login-btn-container">
                        <button class="login">Login</button>
                    </div>
                </header> -->
    <section>
      <div class="section__container">
        <div class="url-shortener">GShortify</div>
        <label>Enter a long URL to shorten
          <input type="text" name="original-url" id="original-url" placeholder="Example: https://www.google.com"
            maxlength="70" value="">
        </label>
        <button class="shorten-url-btn">Shorten URL</button>
        <div class="shortened-url">
        </div>
      </div>
    </section>

  </div>
</body>

</html>